body {
  width: 100%;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
  background:
  conic-gradient(at 10% 50%,#0000 75%,#0a0a23 0),
  conic-gradient(at 10% 50%,#0000 75%,#0a0a23 0) calc(1*100px) calc(3*100px),
  conic-gradient(at 10% 50%,#0000 75%,#0a0a23 0) calc(2*100px) calc(1*100px),
  conic-gradient(at 10% 50%,#0000 75%,#0a0a23 0) calc(3*100px) calc(4*100px),
  conic-gradient(at 10% 50%,#0000 75%,#0a0a23 0) calc(4*100px) calc(2*100px),
  conic-gradient(at 50% 10%,#0000 75%,#0a0a23 0) 0 calc(4*100px),
  conic-gradient(at 50% 10%,#0000 75%,#0a0a23 0) calc(1*100px) calc(2*100px),
  conic-gradient(at 50% 10%,#0000 75%,#0a0a23 0) calc(2*100px) 0,
  conic-gradient(at 50% 10%,#0000 75%,#0a0a23 0) calc(3*100px) calc(3*100px),
  conic-gradient(at 50% 10%,#0000 75%,#0a0a23 0) calc(4*100px) calc(1*100px),
  #52527a;
  background-size: 300px 500px;
}

header {
  padding-top: 1vh;
  padding-bottom: 3vh;
  background-color: #0a0a23;
}

h1, #deskripsi {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 1.5vh auto;
  padding-bottom: 1vh;
  background: rgba(27,27,50,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(27,27,50,0.25);
  border-radius: 2%;
}

#rumus {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

#gambarsegitiga {
  margin: auto;
  width: auto;
  padding-top: 1em;
  height: 200px;
  display: flex;
}

#rumussegitiga, #subrumus {
  text-align: justify;
  font-size: 14px;
}

#subrumus {
  font-weight: bold;
}

fieldset {
  border: none;
}

.tombol {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #3b3b4f;
  border-bottom: 3px solid #3b3b4f;
}

#tombolhitung {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hitungLuas {
  margin: 5vh 0 1vh 0;
}

button {
  background-color: #3b3b4f;
  color: #f5f6f7;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 0.5em 0.5em 0.5em 0.5em;
}

button:hover {
  background-color: #52527a;
}

section {
  margin: 2vh 0;
  display: flex;
  justify-content: center;
}

input[type="number"] {
  background-color: #0a0a23;
  border: 2px solid #3b3b4f;
  width: 100%;
  color: #f5f6f7;
}

input[type="text"] {
  background-color: transparent;
  border: transparent;
  color: #f5f6f7;
  font-size: 14px;
  font-weight: bold;
}

.hide {
  display: none;
}

footer {
  text-align: center;
  padding-bottom: 1em;
  font-weight: bold;
}